@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-text: var(--font-tinos);
  --font-name: var(--font-work-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(21% 0.034 264.665);
    --foreground: oklch(70.5% 0.015 286.067);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
