:root {
    --main-darkest: #222831;
    --main-darker: #393E46;
    --secondary-darker: #D2BD9C;
    --secondary-lighter: #DFD0B8;
    --text-main-color: LightGray;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-darkest);
    color: var(--text-main-color);
}

/* Navbar styling */
#navbar {
    height: 48px;
    background-color: rgba(57, 62, 70, 0.9);
    display: flex;
    align-items: center;
    position: sticky;
    top: -0.5px;
    backdrop-filter: blur(3px);
}

#links {
    margin: auto;
    width: 17rem;
    display: flex;
    justify-content: space-evenly;
}

#navbar a {
    color: var(--text-main-color); 
    text-decoration: none;
    font-family: 'Jost', 'Inter', Helvetica, Arial, sans-serif;
}

#navbar a:hover {
    text-decoration: underline;
    color: LightCoral;
}

.highlighted {
    text-decoration: underline !important;
    color: LightCoral !important;
}

/* Welcome section */
#welcome-section {
    height: 100vh;
    background-color: var(--main-darkest);
    color: var(--text-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Tera', Helvetica;
}

#welcome-section h1 {
    font-weight: initial;
    font-size: 2rem;
}

#welcome-section p {
    float: left;
}

#name-box {
    display: inline-block;
    background: linear-gradient(
        45deg,
        RebeccaPurple,
        LightCoral
    );
    background-clip: text;
}

#name {
    font-family: 'Gabarito', Helvetica;
    font-size: 10rem;
    color: rgba(211, 211, 211, 0.25);
}

/* Projects section */
#projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-darker); 
    padding: 2rem 0;
}

#projects h1 {
    font-family: 'Gabarito', Helvetica;
    font-weight: initial;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: solid 1.5px var(--text-main-color);
}

#project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.project-tile {
    margin: 35px;
    height: 16rem;
    width: 14rem;
    border-radius: 10%;
    background-color: var(--secondary-lighter);
    background: linear-gradient(
        var(--secondary-darker),
        var(--secondary-lighter),
        var(--text-main-color)
    );
    color: var(--main-darkest);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-img {
    height: 50%;
    width: 85%;
}

.project-img img {
    height: 100%;
    width: 100%;
    border-radius: 10% / 15%;
}

.img-caption {
    width: 80%;
    font-family: Jost, Helvetica, sans-serif;
}

.img-caption h3 {
    font-size: 1rem;
}

.img-caption p {
    line-height: 1.2rem;
}

/* Contacts section */
#contacts {
    height: 500px;
    padding-top: 125px;
    border-top: solid 1.5rem var(--secondary-darker);
    font-family: Jost;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts p {
    font-size: 125%;
}

#icons {
    margin-top: 100px;
    width: min(25rem, 100vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    transform: scale(5);
}

.icon a {
    color: var(--text-main-color);
}

.icon a svg:hover {
    color: var(--secondary-lighter);
}



@media (max-width: 700px) {
    #welcome-section h1 {
        font-size: 1.5rem;
    }

    #welcome-section p {
        float: none;
    }

    #name {
        font-size: 7.5rem;
    }

    #projects h1 {
        font-size: 1.3rem;
    }

    #contacts p {
        font-size: 115%;
    }

    #icons {
        justify-content: space-evenly;
    }

    .icon {
        transform: scale(3.75);
    }
}

@media (max-width: 500px) {
    #welcome-section h1 {
        font-size: 1.25rem;
    }

    #name {
        font-size: 5rem;
    }

    #projects h1 {
        font-size: 1.2rem;
    }

    #contacts p {
        font-size: 107.5%;
    }
}
